@page "/databindingdemo"
@inherits DataBindingDemoBase

<h1>Data Binding Demo</h1>
<hr />
<h3>One Way Data Binding</h3>

<div>
    <b>Name: </b>@Name
</div>

<div>
    <b>Name with salutation: </b>@(Gender == "Male" ? $"Mr.{Name}" : $"Miss.{Name}")
</div>

<div>
    <b>Name: </b> <input value="@Name" />
</div>

<hr />

<h3>Two Way Data Binding</h3>

<div>
    <b>Name with @@onchange Event: </b> <input value="@Name"
                                               @onchange="@(e => { Name = e.Value.ToString(); })" />
</div>

<div>
    <b>Name with @@bind attribute: </b> <input @bind="Name" />
</div>

<div>
    <b>Name with @@bind:event attribute: </b> <input @bind="Name" @bind:event="oninput" />
</div>

<hr />

<h3>Data Binding with @@bind-{Attribute} and @@bind-{Attribute}:event</h3>

<b>Color: </b> <input @bind="Color" />

<div @bind-style="Color" @bind-style:event="onchange">
    <h3>The background color of the text changes</h3>
</div>
