@*The single forward slash specifies to render this component when we navigate to the root application URL.*@
@page "/"
@*specifies the base class for this component.*@
@inherits EmployeeListBase

<h3>Employee List</h3>

<input type="checkbox" id="showFooter" @bind="showHide" />
<label for="showFooter">Show Footer</label>

@if (Employees == null)
{
    <div class="spinner"></div>
}

else
{
    <div class="card-deck">

        @foreach (var emp in Employees)
        {
            //Adding the component as HTML Tag
            <DisplayEmployee employee="emp" ShowFooter="showHide" 
                             OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
        }

    </div>
}